name: call snapshot compare script

on: 
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps: 
      - name: check out contents from repo
        uses: actions/checkout@v2

      - name: set up python on github runner

        uses: actions/setup-python@v2
        with: 
          python-version: 3.8

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute python script
        run: |
          python pytest1.py